/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* variables */

:root{

  --primary: #ff470a;
  --primary-dark: #a82e05;
  --secondary: #68b6ff;
  --light-bg: #fef9ef;
  --dark-bg: #161616;

  --text: #646363;
  --light: #ede8e5;
  --dark: #1a1918;

}

/* Default Styling */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
  margin: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, div{
  font-family: 'Rubik', 'sans-serif';
}

.main, .App nav{
  padding-left: 10vw;
  padding-right: 10vw;
  width: 100%;
}

.React-Link{
  text-decoration: none;
  color:inherit;
}

#particles-js {
  height: 70vh;
}

.box {
  border-radius: 10px;
}

h1 .interactive-icon {
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
}

h1 .interactive-icon:hover {
  color: var(--primary-dark);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Home Styles */

.home {
  width: 100%;
  min-height: 70vh;
  position: absolute;
}

.home section {
  display: flex;
}

.home .sidebar {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  padding-right: 20px;
  width: 25vw;
  min-width: 200px;
}

.App nav {
  display: flex;
  align-items: center; 
  height: 30vh;
  min-height: 200px;
  justify-content: space-between;
  padding-bottom: 10px;
  width: 100%;
}

.App nav .circle {
  min-width: 120px;
  min-height: 120px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  margin-right: 20px;
  box-shadow: rgba(0,0,0,0.3) 2px 2px 15px;
}

.App nav .profile {
  display: flex;
  align-items: center;
}

.App nav .profile h1 {
  font-size: 36px;
}

.App nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.App nav ul li {
  margin-left: 25px;
}

.App nav ul li * {
  text-decoration: underline;
  text-underline-offset: 2px;
  font-size: 18px;
}

.App nav .icon {
  cursor: pointer;
  font-size: 22px;
}

.home .sidebar .social-links {
  padding-top: 10px;
  padding-bottom: 10px;
}

.home .sidebar .social-links .icon {
  color: var(--text);
  margin-left: 5px;
  margin-right: 5px;
  font-size: 22px;
}

.home .sidebar .social-links .icon:hover {
  color: var(--primary);
}

.home .sidebar .links {
  list-style: none;
}

.home .sidebar .links li {
  margin-top: 10px;
  margin-bottom: 30px;
}

.home .sidebar .links .link {
  text-decoration: none;
  border: 2px solid var(--text);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  font-size: 15px;
  transition: 
    color 0.2s ease-in-out, 
    background-color 0.2s ease-in-out, 
    border-color 0.2s ease-in-out;
}

.home  .sidebar .links #special {
  color: var(--light-bg);
  background-color: var(--primary);
  border-color: var(--primary);
  transition: box-shadow 0.2s ease-in-out;
}

.home .sidebar .links .link:hover {
  color: var(--light-bg);
  background-color: var(--primary);
  border-color: var(--primary);
}


.home .sidebar .links #special:hover {
  box-shadow: rgba(0,0,0,0.3) 0px 0px 10px;
}

.home .render-box {
  width: 100%;
  min-height: 450px;
  border-radius: 10px;
}

.homepage .row .wrapper {
  flex-grow: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 15px 5px 15px;
  margin: 0px 10px 20px 10px;
  height: 170px;
  transition: transform 0.2s;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.homepage .row .wrapper:hover {
  transform: scale(1.05);
}

.homepage .row:nth-child(1) .wrapper:nth-child(1) {
  flex-grow: 2;
}

.homepage .row:nth-child(2) .wrapper:nth-child(2) {
  flex-grow: 2;
}

.homepage h1, .homepage p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage p {
  text-align: center;
}

.homepage .icon {
  margin-right: 10px;
  font-size: 28px;
}

.homepage .bg-icon {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  font-size: 150px;
  opacity: 0.1;
  transition: transform 0.2s;
  transform: translateX(-15px);
}

/* Design Styles */

.design h1 {
  font-size: 36px;
}

.design .row {
  display: flex;
  flex-wrap: wrap;
}

.img-holder img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.img-holder section{
  border-radius: 10px;
  margin: 10px 20px 10px 0px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.img-holder p {
  margin: 7px 0px 7px 14px;
}

/* WebDev Styles */

.webdev h1 {
  font-size: 36px;
}

.project {
  width: 350px;
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: transform 0.2s;
  cursor: pointer;
}

.project:hover {
  transform: scale(1.05);
}

.project a {
  font-size: 17px;
}

.project a .icon{
  margin-right: 5px;
}

/* Resume Styles */
.resume {
  min-height: 100vh;
  padding-left: 10vw;
  position: absolute;
  padding-bottom: 20px;
}

.resume .head {
  margin-bottom: 10px;
}

@media screen and (max-width: 860px) {
  .resume {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.resume p, li {
  font-weight: 500;
}

.resume h2 {
  padding-top: 30px;
  padding-bottom: 10px;
}

.resume ul {
  padding-left: 50px;
}

.resume ul ul {
  padding-top: 10px;
  padding-bottom: 10px;
}

.resume .indented {
  padding-left: 50px;
}

.resume a {
  color: var(--primary);
  text-underline-offset: 3px;
  transition: color 0.1s;
}

.resume a:hover {
  color: var(--primary-dark);
}

/* Blog Page Styles */

.blog h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.blog {
  position: absolute;
}

.blog-post-component {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 2px solid rgb(44, 44, 44);
}

.blog-post-component h1 {
  margin-bottom: 0;
  font-size: 30px;
}

.blog-post-component #date {
  margin-bottom: 7px;
}

.blog-post {
  position: absolute;
}

.blog-post .paragraph {
  margin-top: 20px;
}

/* Travel Diary Styles */

.travel-landing h1 {
  font-size: 36px;
}

/* About Styles */

.about {
  position: absolute;
}

.about h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about .box {
  padding: 20px;
  margin-bottom: 10px;
}

.about .box img {
  width: 70px;
  height: max-content;
  margin: 15px;
}

/* Photograhy Styles */

.photography h1 {
  font-size: 36px;
}

/* Responsive Styling (YAY) */

@media screen and (max-width: 892px) {
 .main , .App nav {
  padding-left: 20px;
  padding-right: 20px;
 } 
}

@media screen and (max-width: 768px) {
  
.App nav {
  flex-direction: column;
  justify-content: space-evenly;
}

.App nav .circle {
  min-width: 100px;
  min-height: 100px;
}

.App nav .text h1 {
  font-size: 26px;
}

.App nav .text p {
  font-size: 13px;
}

.home .sidebar .links .link {
  font-size: 13px;
}

.home section {
  flex-direction: column-reverse;
  min-height: max-content;
}

#particles-js {
  display: none;
}

}